#input-group {
  position: relative;
  padding: 30px 20px 20px 20px;
  margin: 10px 60px 10px 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  input {
    position: relative;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    background: transparent;
    box-shadow: none;
  }

  #input-label {
    position: absolute;
    pointer-events: none;
    top: 26px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }

  input:valid + #input-label {
    top: 6px;
    left: 42px;
    margin-left: 0 !important;
    font-size: 11px;
    font-weight: normal;
    color: $color-light;
  }
}

#input-progress {
  border-bottom: 3px solid $color-primary;
  width: 0;
  transition: width 0.6s ease-in-out;
}

#progress-bar {
  position: absolute;
  background: $color-secondary;
  height: $progress-height;
  width: 0;
  transition: width 0.5s ease-in-out;
}