#window_view {
    background-image: 
    url(../img/normal/11.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 100%;
    max-width:100%;
}

#meeting {
    background-image: 
    url(../img/ens_event/main_ens.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 100%;
    max-width:100%;
    transform: rotate(90deg);
}

#wedding {
    background-image: 
    url(../img/wedding_ex.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    top: 5px;
    height: 98%;
    max-width:100%;
}

#training {
    background-image: 
    url(../img/wedding_ex.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    top: 5px;
    height: 98%;
    max-width:100%;
}

#social {
    background-image: 
    url(../img/wedding_ex.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    top: 5px;
    height: 98%;
    max-width:100%;
}